{% extends "base.html" %}
{% block content %}
{% if user %}
<section class="dashboard">
    <h2 class="text-large text-primary">Velkommen {{user.firstname}}</h2>

    <div class="intro">
        <h3>Dine Quizzer</h3>
        <a href="{{url_for('main.quizzes')}}" class="btn btn-primary">Ta en ny quiz</a>
    </div>
    {% if quizzes %}

    <table class='table link-table'>
        <thead>
            <tr>
                <th>Quiz</th>
                <th>Resultat</th>
                <th>Dato Tatt</th>
            </tr>
        </thead>
        <tbody>
            {% for q in quizzes %}
            <tr>
                <td><a href="{{url_for('main.quiz_results', id=q.id)}}" class="quiz-link">{{q.title}}</a>
                </td>
                <td>{{q.score}} %</td>
                <td>{{q.date_taken}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}
    <p>Du har ikke tatt noen quizzer enda</p>
    {% endif %}
    {% endif %}
</section>
{% endblock %}