{% extends "base.html" %}
{% block content %}
<div class="dashboard">
    {% if user %}
    <h2 class="text-large text-primary">Velkommen {{user.firstname}}</h2>
    <section>
        <h3 class="text-primary">Quizzer</h3>
        {% if quizzes %}
        <div class="question">
            <table class='table'>
                <thead>
                    <tr>
                        <th>Quiz</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for q in quizzes %}
                    <tr>
                        <td>{{q.title}}</td>
                        <td>
                            {% if q.id in user_quizzes %}
                            {% if user_quizzes[q.id] < 3 %} <a href={{url_for('main.quiz', id=q.id)}}
                                class="btn btn-primary">Ta Quiz</a>
                                {% else %}
                                Bah
                                {% endif %}
                                {% else %}
                                <a href={{url_for('main.quiz', id=q.id)}} class="btn btn-primary">Ta Quiz</a>
                                {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            <p>Ingen quizzer i databasen</p>
            {% endif %}
    </section>
    {% endif %}
</div>
{% endblock %}