{% extends "base.html" %}
{% block content %}
<div class="dashboard">
    {% if user %}
    <h2 class="text-large text-primary">Alle quizzene</h2>
    <section>
        {% if quizzes %}
        <div class="question">
            <table class='table'>
                <thead>
                    <tr>
                        <th>Quiz</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for q in quizzes %}
                    <tr>
                        <td>{{q.title}}</td>
                        <td>
                            <a href={{url_for('main.quiz', id=q.id)}} class="btn btn-primary">Ta Quiz</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            <p>Ingen quizzer i databasen</p>
            {% endif %}
    </section>
    {% endif %}
</div>
{% endblock %}