{% extends "base.html" %}
{% block content %}
<div class="quizzes">
    {% if user %}
    <h2 class="text-large text-primary">Quizoversikt</h2>
    <section>
        <div class="intro">
            <h3>Tilgjengelige quizzer</h3>
            <a href="{{url_for('main.home')}}" class="btn btn-primary">Dine quizzer</a>
        </div>
        {% if quizzes %}
        <div class="question">
            <table class='table'>
                <thead>
                    <tr>
                        <th>Quiz</th>
                        <th>Antall spørsmål</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for q in quizzes %}
                    {% if q.is_active %}
                    <tr>
                        <td>{{q.title}}</td>
                        <td>{{q.get_number_of_questions()}}</td>
                        {% if attempts[q.id] < 3 %} <td>
                            <a href={{url_for('main.quiz', id=q.id)}} class="btn btn-success">Ta Quiz</a>
                            </td>
                            {% else %}
                            <td>
                                Ingen flere forsøk
                            </td>
                            {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            <p>Ingen quizzer i databasen</p>
            {% endif %}
    </section>
    {% endif %}
</div>
{% endblock %}