{% extends "base.html" %}
{% block content %}
<section class="quiz">
    {% if quiz %}
    <h2 class="text-large text-primary">Quiz: {{quiz.title}}</h2>
    <p class="lead">Se over dine svar</p>
    {% for answer in quiz.answers%}
    <div class="answer">
        <p>Spørsmål: {{answer.question_content}}</p>
        <p>Svar: {{answer.content}}</p>
        <a href={{url_for('main.edit_answer', quiz_id=quiz.id, question_id=answer.question)}}
            class="btn btn-light">Endre svar</a>
    </div>
    {% endfor %}
    {% endif %}
    <a href="{{url_for('main.quiz_results', id=quiz.id)}}" class="btn btn-primary">Send inn</a>
</section>
{% endblock %}