!{% extends "base.html" %}
{% block content %}
{% if quiz %}
<section class="quiz">
    <h2 class="text-large text-primary">Quiz: {{quiz.title}}</h2>
    <div class="info">
        <div class="btn-container">
            <a class="btn btn-primary" href="{{url_for('admin.quiz_results', id=quiz.id)}}">Se besvarelser</a>
            <a class="btn btn-primary" href="{{url_for('admin.create_question', quiz_id=quiz.id)}}">Nytt spørsmål</a>
            <a class="btn btn-secondary" href="{{url_for('admin.update_quiz', id=quiz.id)}}">Endre</a>
            <a class="btn btn-danger" href="{{url_for('admin.delete_quiz', id=quiz.id)}}">Slette</a>
        </div>
        {% if quiz.is_active%}
        <a href="{{url_for('admin.activate', id=quiz.id, status=0)}}" class="btn btn-danger">Deaktiver</a>
        {% else %}
        <a href="{{url_for('admin.activate', id=quiz.id, status=1)}}" class="btn btn-success">Aktiver</a>
        {% endif %}
    </div>
    {% if quiz.questions %}
    <table class='table'>
        <thead>
            <tr>
                <th>Spørsmål</th>
                <th>Kategorie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for q in quiz.questions %}
            <tr>
                <td>{{q.content}}</td>
                <td class='hide-sm'>{{q.category}}</td>
                <td>
                    <a href={{url_for('admin.update_question', quiz=quiz.id, id=q.id)}}
                        class="btn btn-light">Rediger</a>
                    <a href={{url_for('admin.delete_quiz_question', quiz=quiz.id, id=q.id)}}
                        class="btn btn-danger">Slett
                        fra quiz</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% endif %}
</section>

{% endif %}
{% endblock %}