!{% extends "base.html" %}
{% block content %}
{% if quiz %}
<h2 class="text-large text-primary">Quiz: {{quiz.title}}</h2>
<div class="quiz">
    <div class="btn-container">
        <a class="btn btn-primary" href="{{url_for('admin.create_question', quiz_id=quiz.id)}}">Legg til spørsmål</a>
        <a class="btn btn-secondary" href="#">Endre</a>
        <a class="btn btn-danger" href="#">Slette</a>
    </div>
    {% if quiz.questions %}
    <div class="question">
        <table class='table'>
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for q in quiz.questions %}
                <tr>
                    <td>{{q.content}}</td>
                    <td class='hide-sm'>{{q.category}}</td>
                    <td>
                        <a href={{url_for('admin.update_question', quiz=quiz.id, id=q.id)}}
                            class="btn btn-light">Rediger</a>
                        <a href={{url_for('admin.delete_question', quiz=quiz.id, id=q.id)}}
                            class="btn btn-danger">Slett</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endif %}
{% endblock %}