<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Quiz App</title>
</head>

<body>
    <nav class="navbar">
        <h1>
            <a href="/">Web Quiz</a>
        </h1>
        <ul>
            {% if user and user.is_authenticated %}
            {% if user.is_admin() %}
            <li>
                <a href={{url_for('admin.create_quiz')}}>Ny Quiz</a>
            </li>
            {% endif %}
            <li>
                <a href={{url_for('auth.logout')}}>Logg Ut</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <main class="container">
        <div id="alert-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="{{'alert alert-{}'.format(category)}}" role="role" id="flash-message">
                <p>{{message}}</p>
                <button type="button" class="close" onclick=removeFlash()>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>


        {% block content %}
        {% endblock %}
    </main>
</body>
<script>
    function removeFlash() {
        const flashMessage = document.getElementById('flash-message');
        flashMessage.remove();
    }

    setTimeout(() => {
        const alerts = document.getElementById('alert-container');
        alerts.remove();
    }, "5000");


</script>

</html>