{% extends "base.html" %}
{% block content %}
<h2 class="text-large text-primary">Nytt Spørsmål</h2>
{% if title %}
<h3 class="lead">Quiz: {{title}}</h3>
{% endif %}
<form method="POST" action={{url_for('admin.question', title=title, id=id)}}>
    {{form.hidden_tag()}}
    <div class="form-group">
        {{form.category.label}}
        {{form.category}}
    </div>
    <div class="form-group">
        {{form.content.label}}
        {{form.content}}
    </div>
    <div class="form-group">
        {{form.answer.label}}
        {{form.answer}}
    </div>
    <div class="form-group check-form">
        {{form.is_multiple_choice.label}}
        {{form.is_multiple_choice(onchange="displayChoices()")}}
    </div>
    <div class="form-group hidden" id="choices">
        {{form.choices.label}}
        {{form.choices(value=0)}}
    </div>
    {{form.submit(class="btn btn-primary")}}
</form>
{% endblock %}