!{% extends "base.html" %}
{% block content %}
{% if quiz %}
<h2 class="text-large text-primary">Quiz: {{quiz.title}}</h2>
<div class="quiz">
    <div class="btn-container">
        <a class="btn btn-primary" href="{{url_for('admin.create_question', quiz_id=quiz.id)}}">Legg til spørsmål</a>
        <a class="btn btn-secondary" href="#">Endre</a>
        <a class="btn btn-danger" href="#">Slette</a>
    </div>
    {% if questions %}
    <div class="question">
        {% for question in questions %}
        <p>{{question.content}}</p>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endif %}
{% endblock %}